{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light text-center shadow">
    <div class="container p-5 bg-dark">
        <div class="row">
            <div class="d-flex bg-dark align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Welcome to Your Library!</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-center">
    <div class="container p-0">
        <div class="row">
            <div class="d-sm-flex align-items-center justify-content-center">
                <img src="../../static/images/janko-ferlic-sfL_QOnmy00-unsplash.jpg" class="img-fluid p-5" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}